Tiny diverge from RFC 1928 in socks5_local.rs

When handling CONNECT command, Section 6 of RFC 1928 says:

> In the reply to a CONNECT, BND.PORT contains the port number that the server
> assigned to connect to the target host, while BND.ADDR contains the
> associated IP address.

https://github.com/shadowsocks/shadowsocks-rust/blob/39c544652436ea8dfca5ed91c79273352a5e5002/src/relay/tcprelay/socks5_local.rs#L49 But here the reply contains the clients address `client_addr`. It should be `svr_s.local_addr()`.

I don't think it has any consequences, by it would be great to conform to the RFC.

That must be a bug! Thanks!

BTW. 

> In the reply to a CONNECT, BND.PORT contains the port number that the server
> assigned to connect to the target host, while BND.ADDR contains the
> associated IP address.

What RPC means is that the `reply` should contains the address that `ssserver` used to connect the target host, which is impossible in shadowsocks' protocol.